.matrix-des{
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  min-height: 3.6em;
  line-height: 1.2em;
}

.version-selector{
  position: absolute;
  top:-10px;
  right: 5px;
}

.matrix-button-group{
  display: flex;
  justify-content: space-between;
}
